<div>
    <form #formRef="ngForm" (ngSubmit)="onSubmit(formRef.value)">
      <fieldset ngModelGroup="login">
        <input type="text"
          placeholder="請輸入帳號"
          name="username"
          [(ngModel)]="username"
          #usernameRef="ngModel"
          required
          minlength="3"
          />
          <div *ngIf="usernameRef.errors?.['required']">必須輸入帳號</div>
          <div *ngIf="usernameRef.errors?.['minlength']">帳號名稱至少三個字元以上</div>
          <div *ngIf="auth?.hasError">{{auth.errMsg}}</div>
        <input type="password"
          placeholder="請輸入密碼"
          name="password"
          [(ngModel)]="password"
          #passwordRef="ngModel"
          required
          />
          <div *ngIf="passwordRef.errors?.['required']">必須輸入密碼</div>
        <button type="submit">登入</button>
      </fieldset>
    </form>
  </div>
